/* 1. Normalization */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
	min-height: 100vh;
	font-feature-settings: "kern", "liga";
	-webkit-font-feature-settings: "kern", "liga";
	font-variant: common-ligatures;
	font-kerning: normal;
}

a {
	color: inherit;
	text-decoration: none;
	touch-action: manipulation;
}

sup,
sub {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	bottom: 1ex;
}

sub {
	top: 0.5ex;
}

img {
	max-width: 100%;
	height: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace; /* Not a typo */
	font-size: 1em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	font-feature-settings: "tnum", "pnum" off;
	-webkit-font-feature-settings: "tnum", "pnum" off;
	font-variant-numeric: tabular-nums;
}

td,
th {
	padding: 0;
}

progress {
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
}

button,
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
}

fieldset {
	padding: 0.5em;
	margin: 0;
	border: 1px solid #ccc;
}

iframe,
object,
video,
input,
textarea {
	max-width: 100%;
	border: 0;
	box-sizing: border-box;
}

/* Normalize Webkit (Safari+Chrome) */

b,
strong {
	font-weight: bolder;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

input[type="search"],
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
	box-sizing: border-box; /* Prevents issues in flexbox in all browsers*/
	border-radius: 0;
}

/* Normalize Firefox */

hr {
	box-sizing: content-box;
	height: 0;
}

button,
select {
	text-transform: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

/* Normalize IE 11 */

main {
	display: block;
}

template {
	display: none;
}

button {
	overflow: visible;
}

textarea {
	overflow: auto;
}

/* 2. Elements */

table {
	border: none;
}

/* 3. IDs, Classes, and Selectors */

header {
	font: 40px/2 'Sorts Mill Goudy';
	text-align: center;
	background: #000;
	color: #fff;
}

.tomato {
	height: 1em;
	fill: red;
	position: relative;
	top: 6px;
}

.avoid-wrap {
	display: inline-block;
}

.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.movie-tile {
	flex: 0;
	margin: 40px 0 20px;
	padding: 20px 40px 30px;
	text-align: center;
	position: relative; /* Allows children to be positioned absolutely _within_ it. */
}

.movie-tile img {
	height: 350px;
}

.movie-tile h2 {
	font: 300 28px Lato;
	margin: 12px 0;
}

.movie-tile > .tagline {
	font: 300 1em Lato;
	margin-top: 8px;
}

.movie-tile > .byline {
	font: 400 1em Lato;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
}

.modal {
	position: fixed;
	z-index: 9000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.6);
}

.modal-open header {
	filter: blur(2px) grayscale(70%);
}
.modal-open main {
	filter: blur(3px) grayscale(80%);
}

#trailer-video-container {
	position: relative;
	margin: 20vh auto 0;
	height: 480px;
	max-width: 640px;
}

#trailer-video {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	border: none;
}

/* Pseudo-Classes */

a:hover,
a:focus {
	color: #ff8e6a;
}

a:active,
a:hover,
input[type="search"] {
	outline: 0;
}

.movie-tile:hover,
.movie-tile:focus {
	background-color: #000 !important; /* So it overrides the color defined in the HTML */
	color: #fff !important; /* Same */
	cursor: pointer;
}

::selection {
background: #eee;
color: #000;
}

::-moz-selection {
background: #eee;
color: #000;
}

/* 5.Animations */

/* Animations and Transitions */

a,
.movie-tile {
	transition: color, background 0.2s ease-out 0s;
}

/* Media Queries */

@media (max-width: 720px) {
	#banner {
		font-size: 32px;
	}
}
